body {
	
}

#pageHeader {
	color: 777777;
	border-bottom: dotted black 1px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 25px;
}

#languageSection {
	text-align: right;	
	
}

#messageBox {
	color: green;
	width: 300px;
	padding-left: 10px;	
}

#topButtons {
	margin-top: 10px;
	margin-bottom: 10px;	
}

#sortButtons {
	margin-bottom: 10px;	
}

.qcdGrid_paging {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.qcdGrid_paging_pageInfo {
	color: 777777;
}