<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean class="com.qcadoo.mes.PluginResourcesResolver" />
	
	<bean id="contentNegotiatingViewResolver" 
   		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver"
   		p:order="#{T(org.springframework.core.Ordered).HIGHEST_PRECEDENCE}">
      	<property name="mediaTypes">
			<map>
		        <entry key="html" value="text/html"/> 
		        <entry key="pdf" value="application/pdf"/> 
		        <entry key="xsl" value="application/vnd.ms-excel"/> 
		        <entry key="xml" value="application/xml"/> 
		        <entry key="json" value="application/json"/>
			</map>
		</property>
	</bean>
	
	<bean id="pdfOrderView"
  		class="com.qcadoo.mes.products.PdfOrderView"/>
  		
  	<bean id="beanNameViewResolver"
  		class="org.springframework.web.servlet.view.BeanNameViewResolver">
  		<property name="order" value="#{contentNegotiatingViewResolver.order+1}"/>
	</bean>

	<bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="order" value="#{beanNameViewResolver.order+1}"/>
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="multipartResolver"
    	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">	
	    <property name="maxUploadSize" value="500000"/>
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<ref bean="localeChangeInterceptor" />
		</property>
	</bean>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
					<property name="objectMapper" ref="jacksonObjectMapper" />
				</bean>
			</list>
		</property>
	</bean>

	<!-- Tiles configuration -->
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<!--<value>/WEB-INF/tiles-defs/templates.xml</value> -->
			</list>
		</property>
	</bean>

	<!-- The Jackson view that uses the Jackson object mapper for serialization. -->
	<bean id="restJsonMarshalView"
		class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
		<property name="objectMapper" ref="jacksonObjectMapper" />
	</bean>

	<!-- Jackson ObjectMapper that can serialize and deserialize to and from 
		JSON. The ObjectMapper is similar to JAXB marshallers. -->
	<bean class="org.codehaus.jackson.map.ObjectMapper" id="jacksonObjectMapper" />

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>WEB-INF/locales/messages</value>
				<value>classpath:locales/products</value>
				<value>classpath:locales/dictionaries</value>
				<value>classpath:locales/plugins</value>
				<value>classpath:locales/users</value>
				<value>classpath:locales/crud</value>
			</list>
		</property> 
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="lang" />
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="pl" />
	</bean>
	
	<bean id="exceptionResolver"  
		class="com.qcadoo.mes.TranslatedMessageExceptionResolver">  
    	<property name="exceptionMappings">  
 			<props>  
    			<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">downloadError</prop>  
			</props>  
  		</property>  
  		<property name="defaultErrorView" value="exception" />
  		<property name="warnLogCategory" value="com.qcadoo.mes.Application" />
 	</bean>  

</beans>