<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/tmp/mes.log" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
	<logger name="org.qcadoo.mes">
		<level value="debug" />
	</logger>
	<logger name="org.qcadoo.mes.utils">
		<level value="info" />
	</logger>
	<logger name="org.springframework">
		<level value="info" />
	</logger>
	<logger name="org.hibernate">
		<level value="info" />
	</logger>
	<logger name="com.mchange">
		<level value="info" />
	</logger>
	<logger name="org.apache">
		<level value="info" />
	</logger>
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>