<?xml version="1.0" encoding="UTF-8"?>
<!--

    ***************************************************************************
    Copyright (c) 2010 Qcadoo Limited
    Project: Qcadoo MES
    Version: 1.1.7

    This file is part of Qcadoo.

    Qcadoo is free software; you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation; either version 3 of the License,
    or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty
    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
    ***************************************************************************

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Qcadoo MES</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/root-context.xml
			classpath*:qcadoo-model-database-context.xml
			classpath*:qcadoo-tenant-context.xml
			classpath*:qcadoo-plugin-context.xml
			classpath*:qcadoo-localization-context.xml
			classpath*:qcadoo-model-context.xml		
			classpath*:qcadoo-security-context.xml
			classpath*:qcadoo-view-context.xml
			classpath*:qcadoo-shop-context.xml
			classpath*:qcadoo-web-context.xml
			classpath*:qcadoo-report-context.xml
			classpath*:qcadoo-mail-context.xml
			classpath*:root-context.xml
			classpath*:web-context.xml
		</param-value>
	</context-param>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/files/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.pdf</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.xls</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.csv</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/j_spring_security_check</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/j_spring_security_logout</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>staticResourcesFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>staticResourcesFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>*.json</url-pattern>
    </filter-mapping>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<servlet>
		<servlet-name>Qcadoo MES</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value> 
				/WEB-INF/empty-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Qcadoo MES</servlet-name>
		<url-pattern>/files/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Qcadoo MES</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Qcadoo MES</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Qcadoo MES</servlet-name>
		<url-pattern>*.pdf</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Qcadoo MES</servlet-name>
		<url-pattern>*.xls</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Qcadoo MES</servlet-name>
		<url-pattern>*.csv</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<error-page>
		<error-code>400</error-code>
		<location>/error.html?code=400</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/error.html?code=402</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.html?code=403</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.html?code=404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.html?code=500</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error.html?code=503</location>
	</error-page>

	<welcome-file-list>
    	<welcome-file>/index.jsp</welcome-file>
  	</welcome-file-list>

</web-app>