 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mainTopMenu {
}

#mainPageIframeWrapper {
	position: absolute;
	border: 0;
	top: 99px;
	bottom: 0px;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
}
#mainPageIframeWrapper #mainPageIframe {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0px;
	padding: 0px;
}

