 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.pageHeader {
	color: 777777;
	border-bottom: dotted black 1px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 25px;
}

/*.elementHeader {
	color: 777777;
	font-weight: bold;
}

*/#languageSection {
	text-align: right;	
	
}

#messageBox {
	color: green;
	width: 300px;
	padding-left: 10px;	
}

#topButtons {
	margin-top: 10px;
	margin-bottom: 10px;	
}

#sortButtons {
	margin-bottom: 10px;	
}

.qcdGrid_paging {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.qcdGrid_paging_pageInfo {
	color: #777777;
}

.fieldValidatorMessage {
	color: red;	
}
.validatorGlobalMessage {
	color: red;
	padding-bottom: 10px;
}

.infoMessage {
	color: green;
	padding-bottom: 10px;
}

input, textarea {
	border: solid #777777 1px;	
}

td.fieldRequired input,
td.fieldRequired textarea {
	background: #f4f6c0;
}

input.readonly, 
textarea.readonly {
}

.loading_div {
	height: 32px;
	display: inline-block;
	line-height: 32px;
	//background-image:url('/img/core/loading_indicator.gif');
	background-repeat: no-repeat;
	background-position: 0 0;
	//padding-left: 34px;
	margin: auto;
}
