<?xml version="1.0" encoding="UTF-8"?>
<plugin plugin="plugin1" version="1.2.3" xmlns="http://www.qcadoo.com/plugin">

	<information>
		<name>plugin1</name>
		<description>plugin1 descriptor</description>
		<vendor>
			<name>plugin1 vendor</name>
			<url>plugin1 url</url>
		</vendor>
	</information>
	
	<modules>
		<mock />
	</modules>
	
</plugin>