
.borderLayout {
	//background: #35AE0D;
	background: #EBEBEB;
	//background: #FAFAFA;
	border: solid #A7A7A7 1px;	
	//margin: 10px;
}

.gridLayoutTable {
	width: 100%;
	border: 0;
	padding: 0;
}

.gridLayoutTable > tbody > tr {
	height: 40px;
}

.gridLayoutTable > tbody > tr > td {
	text-align: center;
	//border: solid red 1px;
}

.gridLayoutTable > tbody > tr > td.rightBorder {
	border-right: solid #A7A7A7 1px;
}
