.verticalLayout {
	width: 100%;		
}

.verticalLayout > div {
	float: left;	
}

.borderLayout {
	margin: 10px;
	border: solid #A7A7A7 1px;
	padding: 0px;	
	text-align: left;
	position: relative;
}

.borderLayoutLabel {
	background: #FAFAFA;
	display: inline-block;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	left: 5px;
	line-height: 20px;
	border-top: solid transparent 1px;
	position: absolute;
	text-align: left;
	top: -11px;
}
.borderLayoutLabel .borderLayoutLabelSideBorder {
	display: inline-block;
	vertical-align: top;
	width: 1px;
	height: 10px;
	background: transparent;
}
.borderLayoutLabel .borderLayoutLabelContent {
	padding: 0px 7px;
}

.gridLayoutTable {
	width: 100%;
	border: 0;
	padding: 0;
}

.gridLayoutTable > tbody > tr {
	height: 40px;
}

.gridLayoutTable > tbody > tr > td {
	text-align: center;
	vertical-align: top;
}

.gridLayoutTable > tbody > tr > td.rightBorder {
	border-right: solid #A7A7A7 1px;
}

.smallLayoutContainer {
	height: 100%;
}

.smallLayoutContainer .smallLayoutHeader {
	position: relative;
	height: 26px;
}
.smallLayoutContainer .smallLayoutHeader > div {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
}

.smallLayoutContainer .smallLayoutHeader .smallLayoutHeaderItem {
	display: inline-block;
	color: black;
	text-decoration: none;
	border: solid #A7A7A7 1px;
	border-bottom: none;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	font-size: 14px;
	background: #dddddd;
	color: #555555;
	margin-top: 5px;
	vertical-align: top;
}
.smallLayoutContainer .smallLayoutHeader .smallLayoutHeaderItem:hover {
	background: #eeeeee;
}
.smallLayoutContainer .smallLayoutHeader .smallLayoutHeaderItem.active {
	border-bottom: solid #FAFAFA 1px;
	background: #FAFAFA;
	color: black;
	height: 22px;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 3px;
}

.smallLayoutContainer .smallLayoutHeader .smallLayoutHeaderItem.errorHeader {
	border: solid red 1px;
	border-bottom: none;
}
.smallLayoutContainer .smallLayoutHeader .smallLayoutHeaderItem.active.errorHeader {
	border-bottom: solid #FAFAFA 1px;
}

.smallLayoutContainer .smallLayoutContent {
}
.smallLayoutContainer .smallLayoutContent .smallLayoutContentItem {
	display: none;
	border: solid #A7A7A7 1px;
}
.smallLayoutContainer .smallLayoutContent .smallLayoutContentItem.errorContent {
	border-top: solid red 1px;
}
