
.borderLayout {
	background: #EBEBEB;
	border: solid #A7A7A7 1px;	
}

.gridLayoutTable {
	width: 100%;
	border: 0;
	padding: 0;
}

.gridLayoutTable > tbody > tr {
	height: 40px;
}

.gridLayoutTable > tbody > tr > td {
	text-align: center;
	vertical-align: top;
}

.gridLayoutTable > tbody > tr > td.rightBorder {
	border-right: solid #A7A7A7 1px;
}
