
.clear {
	clear:both;
}
.float_left {
	float:left;
}
.float_right {
	float:right;
}
/* q menu */
#q_top_menu {
	height:175px;	
}
#q_menu_row1 {
	height:30px;
	line-height: 30px;
	background: red;
	background-image:url('images/menu/background_firstLevel.png');
	background-position: top;
	background-repeat: repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4d4d4d;
}
#q_menu_row2 {
	height:24px;
	line-height: 24px;
}
#q_menu_row3 {
	height:77px;
}
.pic_down {
	background-image:url('images/menu/down.png');
	background-position: right;
	background-repeat: no-repeat;
}
.pic_down_grey {
	background-image:url('images/menu/down_grey.png');
	background-position:  right;
	background-repeat: no-repeat;
}
/* row_1 menu */
ul.q_row1 {
	margin: 1px 0px 0px;
	padding:0;
	float:left;
	list-style: none;
	font-size:12px;
	font-weight:bold;
	color:#fff;
}
ul.q_row1 li {
	float:left;
	display:block;
	padding: 0px 0px;
	height: 29px;
	margin: 0px 0px;
}
ul.q_row1 li:hover {
	background-image:none;
}
ul.q_row1 li a {
	display:block;
	width:auto;
	line-height: 29px;
	color:#fff;
	text-decoration:none;
	padding: 2px 0px;	
}
ul.q_row1 li a span {
	margin-right:10px; padding: 4px 5px 0px 15px;
}
ul.q_row1 li a:hover, ul.q_row1 li a.activ, ul.q_row1 li a.path {
	height:29px;
	line-height:25px;
	padding:0px;
	color: #fff;
	background-image: url('images/menu/btn_row1Hover.png');
	background-repeat:no-repeat;
	background-position: right;
}
ul.q_row1 li a.noImg:hover {
	background-image:none;
	padding: 2px 0px;
}
ul.q_row1 li a.noImg img {
	border: none;
}
ul.q_row1 li a.activ {
	color: #189106;
	background-image: url('images/menu/btn_row1.png');
	}
ul.q_row1 li a.path {
	background-image: url('images/menu/btn_row1Path.png');
	}
ul.q_row1 li a:hover span, ul.q_row1 li a.activ span, ul.q_row1 li a.path span {
	display:block;
	padding: 4px 5px 0px 15px;
	color: #fff;
	background-image: url('images/menu/btn_row1spanHover.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	margin-right:10px;
}
ul.q_row1 li a.activ span {
	color: #189106;
	background-image: url('images/menu/btn_row1span.png');
	}
ul.q_row1 li a.path span {
	background-image: url('images/menu/btn_row1spanPath.png');
	}
ul.q_row1 li a.path:hover  {
	background-image: url('images/menu/pathUP.png');
	background-position: right;
	}
ul.q_row1 li a.path:hover span {
	background-image: url('images/menu/spanpathUP.png');
	}
/* row_2 menu */
ul.q_row2 {
	margin: 0px;
	padding:0;
	float:left;
	list-style: none;
	font-size:11px;
	font-weight:normal;
	color:#454545;
}
ul.q_row2 li {
	float:left;
	display:block;
	padding: 0px 0px;
	height: 24px;
	margin:0px 5px;
}
ul.q_row2 li:hover {
	background-image:none;
}
ul.q_row2 li a {
	display:block;
	width:auto;
	line-height: 24px;
	text-decoration:none;
	padding: 0;	
	color:#454545;
}
ul.q_row2 li a span {
	margin-right:10px;padding: 0px 5px 0px 15px;
}
ul.q_row2 li a:hover, ul.q_row2 li a.activ, ul.q_row2 li a.path {
	height:24px;
	line-height:24px;
	padding: 0;	
	background-image: url('images/menu/btn_row2Hover.png');
	background-repeat:no-repeat;
	background-position: right;
}
ul.q_row2 li a.activ {
	background-image: url('images/menu/btn_row2.png');
}
ul.q_row2 li a.path {
	background-image: url('images/menu/btn_row2Path.png');
}
ul.q_row2 li a:hover span, ul.q_row2 li a.activ span, ul.q_row2 li a.path span  {
	display:block;
	padding: 0px 5px 0px 15px;
	background-image: url('images/menu/btn_row2spanHover.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	margin-right:10px;
}
ul.q_row2 li a.activ span  {
	background-image: url('images/menu/btn_row2span.png');
}
ul.q_row2 li a.path span  {
	background-image: url('images/menu/btn_row2spanPath.png');
}
ul.q_row2 li a.path:hover  {
	background-image: url('images/menu/path2UP.png');
	background-position: right;
	}
ul.q_row2 li a.path:hover span {
	background-image: url('images/menu/spanpath2UP.png');
	}
/* ribbon [group] */
.ribbonMenu {
	display:block;
	margin-right:10px;
	float:left;
	background-image:url('images/menu/ribbon_down.png');
	background-position:bottom;
	background-repeat:repeat-x;
	line-height:110%;
	font-size:11px;
}
.ribbonMenu_left {
	background-image:url('images/menu/ribbon_left.png');
	background-position:left;
	background-repeat:no-repeat;
}
.ribbonMenu_right {
	height:61px;
	padding: 0px 10px;
	background-image:url('images/menu/ribbon_right.png');
	background-position:right;
	background-repeat:no-repeat;
}
.ribbon_title {
	position:relative;
	top:54px;
	width:45px;
	height:10px;
	padding: 1px 4px;
	margin:auto;
	font-size:10px;
	color:#b7b7b7;
	background-color:#f5f5f5;
	text-align:center;
}
.ribbon_content {
	margin-top:-4px;
}
.ribbonMenu label {
	line-height:8px;
}
.ribbonMenu label input {
	 
}
/* RIBBON [elements] */
.ribbonBigElement {
	float:left;
	margin-right:0px;
}
/* :[ADD] */
ul.ribbonAddElement {
	margin: 0px;
	padding:0;
	float:left;
	list-style: none;
}
ul.ribbonAddElement li {
	float:left;
	display:block;
	padding: 0px 0px;
	height: 45px;
}
ul.ribbonAddElement li a {
	display:block;
	width:auto;
	height: 45px;
	text-decoration:none;
	padding: 0;	
	margin-right: 5px;
	color:#454545;
	background-image:url('images/menu/btn_add.png');
	background-repeat:no-repeat;
	background-position: right;
}
ul.ribbonAddElement li a span {
	display:block;
	margin-right:5px;
	height: 40px;
	padding: 5px 5px 0px 34px;
	background-image:url('images/menu/btn_addspan.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
}
ul.ribbonAddElement li a:hover {
	background-image:url('images/menu/btn_addUp.png');
}
ul.ribbonAddElement li a:hover span {
	background-image:url('images/menu/btn_addspanUp.png');
}
/* :[BUTTON2] */
ul.ribbonListElement {
	margin: 0px;
	padding:0;
	float:left;
	list-style: none;
}
ul.ribbonListElement li {
	float:left;
	display:block;
	padding: 0px 0px;
	height: 45px;
}
ul.ribbonListElement li a {
	display:block;
	width:auto;
	height: 45px;
	text-decoration:none;
	padding: 0;	
	margin-right: 5px;
	color:#454545;
	background-image:url('images/menu/btn_list.png');
	background-repeat:no-repeat;
}
ul.ribbonListElement li a span {
	display:block;
	margin-right:5px;
	height: 40px;
	padding: 5px 5px 0px 34px;
}
ul.ribbonListElement li a:hover {
	background-image:url('images/menu/btn_listUp.png');
	background-position: right;
}
ul.ribbonListElement li a:hover span {
	background-image:url('images/menu/btn_listspanUp.png');
}
ul.ribbonListElement li a.active {
	background-image:url('images/menu/btn_listActive.png');
	background-position: right;
}
ul.ribbonListElement li a.active span {
	background-image:url('images/menu/btn_listspanActive.png');
}
ul.ribbonListElement li span.noActive {
	display:block;
	margin-right:5px;
	height: 40px;
	padding: 5px 5px 0px 34px;
	background-image:url('images/menu/btn_list_noactive.png');
	color:#b7b7b7;
}
/* :[LIST] */
ul.ribbon_list {
	list-style: none;
	margin:0;
	padding:0;
}
ul.ribbon_list li {
	display:block;
	padding: 0px;
	height: 23px;
}
ul.ribbon_list li.noActive {
	background-image:url('images/menu/lt_1arrownoActive.png');
	background-repeat:no-repeat;
	background-position: right;
}
ul.ribbon_list li.noActive span {
	display:block;
	margin-right:14px;
	height: 18px;
	padding: 5px 0px 0px 28px;
	background-image:url('images/menu/lt_1spannoActive.png');
	background-repeat:no-repeat;
	color:#b7b7b7;
}
ul.ribbon_list li a {
	display:block;
	width:auto;
	height: 23px;
	text-decoration:none;
	padding: 0;	
	color:#464646;
	font-size:11px;
	background-image:none;
}
ul.ribbon_list li a.arrow, ul.ribbon_list li a.make {
	background-image:url('images/menu/lt_1arrow.png');
	background-repeat:no-repeat;
	background-position: right;
}
ul.ribbon_list li a span {
	display:block;
	margin-right:14px;
	height: 18px;
	padding: 5px 0px 0px 28px;
	background-image:url('images/menu/lt_1span.png');
	background-repeat:no-repeat;
}
ul.ribbon_list li a.make span {
	background-image:url('images/menu/lt_1spanMake.png');
}
ul.ribbon_list li a:hover {
	background-image:url('images/menu/lt_1Up.png');
	background-position: right;
}
ul.ribbon_list li a.arrow:hover, ul.ribbon_list li a.make:hover {
	background-image:url('images/menu/lt_1arrowUp.png');
	background-position: right;
}
ul.ribbon_list li a:hover span {
	background-image:url('images/menu/lt_1spanUp.png');
}
ul.ribbon_list li a.make:hover span {
	background-image:url('images/menu/lt_1spanMakeUp.png');
}
/* [LIST two button] */
ul.ribbon_list li ul li {
	float:left;
}
ul.ribbon_list li ul li a.make {
	background-image:none;
}
ul.ribbon_list li ul li a.make:hover {
	background-image:url('images/menu/lt_1Make.png');
	background-repeat:no-repeat;
	background-position: right;
}
ul.ribbon_list li ul li a.make span {
	margin-right:4px;
	padding: 5px 5px 0px 28px;
}
ul.ribbon_list li ul li a.twoB_down {
	width:15px;
	height:23px;
	background-image:url('images/menu/lt_twoB_down.png');
	background-repeat:no-repeat;
}
ul.ribbon_list li ul li a.twoB_down:hover {
	background-image:url('images/menu/lt_twoB_downClick.png');
}
