<?xml version="1.0" encoding="UTF-8"?>
<!--

    ***************************************************************************
    Copyright (c) 2010 Qcadoo Limited
    Project: Qcadoo MES
    Version: 0.3.0

    This file is part of Qcadoo.

    Qcadoo is free software; you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation; either version 3 of the License,
    or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty
    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
    ***************************************************************************

-->

<qcd:models plugin="menu" xmlns:qcd="http://www.qcadoo.com/model">
	<model name="menuCategory">
		<string name="name" >
			<validatesPresence />
			<validatesUniqueness />
		</string>
		<boolean name="active" readonly="false" default="true">
			<validatesPresence />
		</boolean>
		<string name="translationName" />
		<hasMany name="viewDefinitionItems" model="menuViewDefinitionItem" joinField="menuCategory" cascade="delete" />
		<priority name="categoryOrder" />
	</model>
	
	<model name="menuViewDefinitionItem">
		<string name="name" >
			<validatesPresence />
			<validatesUniqueness />
		</string>
		<boolean name="active" readonly="false" default="true" />
		<string name="translationName" />
		<belongsTo name="menuCategory" model="menuCategory" lookupField="name" lazy="false">
			<validatesPresence /> 
		</belongsTo>
		<belongsTo name="viewDefinition" model="viewDefinition" lookupField="viewName" lazy="false">
			<validatesPresence /> 
		</belongsTo>
		<priority name="itemOrder" scope="menuCategory" />
	</model>
	
	<model name="viewDefinition">
		<string name="menuName" >
			<validatesPresence />
		</string>
		<string name="viewName" >
			<validatesPresence />
		</string>
		<string name="pluginIdentifier" >
			<validatesPresence />
		</string>
		<boolean name="url"/>
		<hasMany name="menuViewDefinitionItems" model="menuViewDefinitionItem" joinField="viewDefinition" cascade="delete" />
	</model>
	
</qcd:models>