.component_container_form {
	margin: 20px 20px 0;
	padding: 0;
	background: #fff;
}

.component_container_form .component_element {
	padding: 0;
	width: 31.5%;
	margin-bottom: 19px;
	vertical-align: middle;
	display: block;
	text-align: left;
}

/** labels **/

.component_container_form .labelbox {
	width: 31%;
	display: block;
	vertical-align: middle;
	text-align: left;
	float: left;
	height: 22px;
	font: 11px arial;
}

.component_container_form .label_h {
	vertical-align: middle;
	height: 22px;
	width: 0px;
	display: inline-block;
	vertical-align: middle;
}
	
.component_container_form .label {
	display: inline-block;
	vertical-align: middle;
}

.component_container_form .required .label {
	font-weight: bold;
}

.component_element_textArea .label {
	vertical-align: top;
	padding-top: 3px;
}

/** inputs **/

.component_container_form_w {
	margin: 0;
	padding: 0;
	width: 65.5%;
	display: inline-block;
}

.component_container_form_inner {
	position: relative;
	display: block;
}

.disabled .component_container_form_inner {
	background-color: #F0F0F0;
}

.component_container_form_x {
	background: transparent url(../images/form/input_x_transparent.png) repeat-x 0 1px;
	display: block;
	position: absolute;
	height: 5px;
	top: 0;
	left: 6px;
	right: 0;
}

.component_container_form_y {
	margin: 0;
	padding: 0;
	background: transparent url(../images/form/input_y_transparent.png) repeat-y 1px 0;
	display: block;
	position: absolute;
	width: 5px;
	top: 6px;
	left: 0;
	bottom: 0;
}

.component_container_form input[type='text'], .component_container_form input[type='password'], .component_container_form textarea, .component_container_form select {
	border-spacing: 0;
  	margin: 0;
  	space: 0;
	color: #464646;
	height: 22px;
	width: 100%;
	max-width: 100%;
	font: 11px arial;
	vertical-align: middle;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-boder-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.component_container_form input[type='text'], .component_container_form input[type='password'], .component_container_form textarea {
	border: 1px solid #959595;	
	background: transparent url(../images/form/input_c_transparent.png) no-repeat 0 0;
	padding-left: 6px;
}

.component_element_checkbox .component_container_form_w {
	text-align: left;
}

.component_container_form select {
	width: 100%;
	vertical-align: middle;
	padding: 0;
}

.component_container_form select option .empty {
	color: red;
}
	
.component_container_form .required input[type='text'],
.component_container_form .required input[type='password'],
.component_container_form .required textarea {
	border: 1px solid #464646;	
}

.component_container_form .error input[type='text'],
.component_container_form .error input[type='password'], 
.component_container_form .error textarea {
	border: 1px solid #ec1c24;
}

.component_container_form textarea {
	height: auto;
	padding-left: 6px;
}

/** error icons **/

.component_container_form .error_icon {
  	display: none;
}

.component_container_form .error_box {
	display: inline-block;
	padding: 2px 0 0 1px;
	position: relative;
}

.component_container_form .error .error_box .error_icon {
	display: inline-block;
	width: 13px;
	height: 8px;
	background: url(../images/error.icon.png);
	vertical-align: baseline;
}

/** error messages **/

.component_container_form .error_messages {
	position: absolute;
	top: 15px;
	left: 15px;
	background: #fff;
	z-index: 999;
}

.component_container_form .error_messages div {
	border: 1px solid #ec1c24;
	width: 275px;
	font: 11px arial;
	margin-bottom: 5px;
}

.component_container_form .error_messages div span {
	background: #ec1c24;
	color: #fff;
	font-weight: bold;
	height: 19px;
	display: block;
	line-height: 19px;
	padding: 0 6px;
}

.component_container_form .error_messages div p {
	color: #464646;
	margin: 7px 6px;
}

/** descriptions **/

.component_container_form .description_box {
	display: inline-block;
	position: relative;
}

.component_container_form .description_icon {
	display: inline-block;
	width: 9px;
	height: 9px;
	background: url(../images/info.icon.png);
	vertical-align: baseline;
	margin-left: 3px;
}

.component_container_form .description_message {
	border: 1px solid #005ec5;
	width: 275px;
	font: 11px arial;
	padding: 5px;
	color: #464646;
	position: absolute;
	top: 15px;
	left: 15px;
	background: #fff;
	z-index: 999;
}

/** lookup **/

.component_element_lookup .component_container_form_inner {
	margin-right: 28px;
}
.component_container_form .lookupIcon {
	height: 23px;
	width: 23px;
	display: inline-block;
	position: absolute;
	top: -1px;
	right: -28px;
	background: url(../../images/icons/lookupIcon.png) no-repeat 0 -46px;
	vertical-align: middle;
}
.component_container_form .lookupIcon.enabled {
	cursor: pointer;
	background-position: 0 0;
}
.component_container_form .lookupIcon.enabled:hover {
	background-position: 0 -23px;
}

.component_container_form_w .lookupValueWrapper {
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}
.labelbox .focusedLabel {
	color: #005ec5;
}
.component_container_form_w .lookupValueWrapper .lookupValue {
	position: absolute;
	top: 4px; left: 8px;
	font: 11px arial;
	height: 13px;
	overflow: hidden;
}
.component_container_form_w .lookupValueWrapper .lookupLoading {
	position: absolute;
	top: 3px; right: 3px;
	width: 16px;
	height: 16px;
	background: transparent url(../images/loading.gif) no-repeat right center;
	display: none;
}

/** calendar **/

.component_element_calendar .component_container_form_inner {
	margin-right: 25px;
}
.component_container_form .calendar {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: absolute;
	top: 2px;
	right: -25px;
	background: url(../images/calendar.png) no-repeat right center;
	vertical-align: middle;
	cursor: pointer;
}

