.component_container_form {
	margin: 0;
	padding: 0;
	background: #fff;
}

.component_container_form .form_components {
	padding: 0px 20px 20px;
	margin: 0;
}

.component_container_form .component_element {
	padding: 0;
	margin-top: 19px;
	vertical-align: middle;
	display: block;
}

/** header **/

.component_container_form .header {
	background: #ebebeb;
	height: 33px;
	font: bold 13px arial;
	color: #7d7d7d;
	border-bottom: 1px solid #a7a7a7;
	padding-left: 20px;
	line-height: 35px;
}

.component_container_form .header .entity_identifier {
	color: #555;
}

/** labels **/

.component_container_form .label {
	width: 90px;
	font: 11px arial;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	position: relative;
}

.component_container_form .required .label {
	font-weight: bold;
}

.component_container_form .error .label {
	// color: #ec1c24;
}

/** inputs **/

.component_container_form_x {
	margin: 0;
	padding: 0;
	background: #fff url(../images/form/input_x.png) repeat-x 0 1px;
	display: inline-block;
}

.component_container_form_y {
	margin: 0;
	padding: 0;
	background: transparent url(../images/form/input_y.png) repeat-y 1px 0;
	display: inline-block;
	position: relative;
}

.component_container_form input[type='text'], .component_container_form textarea, .component_container_form select {
	border: 1px solid #959595;	
	border-spacing: 0;
  	margin: 0;
  	space: 0;
	color: #464646;
	height: 22px;
	width: 525px;
	max-width: 525px;
	font: 11px arial;
	vertical-align: middle;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-boder-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.component_container_form input[type='text'], .component_container_form textarea {
	background: transparent url(../images/form/input_c.png) no-repeat 0 0;
	padding-left: 6px;
}

.component_container_form select {
	background: #fff;
	vertical-align: middle;
	padding: 0;
	// background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#e0e0e0), to(#fff) );
	// background: -moz-linear-gradient(top, #e0e0e0, #fff 25%, #fff);
	// -webkit-appearance: textfield;
	// -moz-appearance:textfield;
}

.component_container_form .required input[type='text'], .component_container_form .required textarea, .component_container_form .required select {
	border: 1px solid #464646;	
}

.component_container_form .error input[type='text'], .component_container_form .error textarea, .component_container_form .error select {
	border: 1px solid #ec1c24;
}

.component_container_form textarea {
	height: auto;
	padding-left: 6px;
}

.component_container_form textarea:focus, .component_container_form select:focus, .component_container_form input:focus {
	-webkit-box-shadow: 0 0 0 #fff;
	-moz-box-shadow: 0 0 0 #fff;
	box-shadow: 0 0 0 #fff;
	/*outline: none;
	-moz-outline: none;
	-webkit-outline: none;
*/
}

/** error icons **/

.component_container_form .error_icon {
  	display: none;
}

.component_container_form .error .component_container_form_y .error_icon {
	display: inline-block;
	width: 7px;
	height: 7px;
	background: url(../images/form/input_v.png);
	vertical-align: middle;
	left: 1px;
	position: absolute;
	top: 1px;
	z-index: 999;
}

.component_container_form .error_box {
	display: inline-block;
	position: relative;
}

.component_container_form .error .error_box .error_icon {
	display: inline-block;
	width: 13px;
	height: 8px;
	background: url(../images/error.icon.png);
	vertical-align: baseline;
	position: absolute;
	top: -8px;
	right: -12px;
}

/** error messages **/

.component_container_form .error_messages {
	position: absolute;
	top: 15px;
	left: 15px;
	background: #fff;
	text-align: left;
	z-index: 999;
}

.component_container_form .error_messages div {
	border: 1px solid #ec1c24;
	width: 275px;
	font: 11px arial;
	margin-bottom: 5px;
}

.component_container_form .error_messages div span {
	background: #ec1c24;
	color: #fff;
	font-weight: bold;
	height: 19px;
	display: block;
	line-height: 19px;
	padding: 0 6px;
}

.component_container_form .error_messages div p {
	color: #464646;
	margin: 7px 6px;
}

/** descriptions **/

.component_container_form .description_box {
	display: inline-block;
	position: relative;
}

.component_container_form .description_icon {
	display: inline-block;
	width: 9px;
	height: 9px;
	background: url(../images/info.icon.png);
	vertical-align: baseline;
	margin-left: 3px;
}

.component_container_form .description_message {
	border: 1px solid #005ec5;
	width: 275px;
	font: 11px arial;
	padding: 5px;
	color: #464646;
	position: absolute;
	top: 15px;
	left: 15px;
	background: #fff;
<<<<<<< HEAD
}

.component_container_form .calendar {
	height: 20px;
	width: 20px;
	display: inline-block;
	background: url(../images/calendar.png);
	vertical-align: middle;
}

a,:focus {
	outline: none;
}

button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,select::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner
	{
	border: none;
=======
	text-align: left;
	z-index: 999;
>>>>>>> 99edbda9d6dfafbb20652b814000f51a7130f540
}