.gridNotFullScreen {
	border: solid black 1px;
	margin: 10px;
	padding-right: 2px;
}

.gridTable {
	background: #ccc;
	margin: 0px;
}

.gridTable .gridHeaderCell {
	background: #ccc;
	border-bottom: solid black 1px;
}
.gridTable .gridFooterCell {
	background: #ccc;
	
}

.gridTable .grid_header .pageInput,
.gridTable .grid_footer .pageInput {
	border: solid black 1px;
}

.gridTable .grid_header .pageInput.inputError,
.gridTable .grid_footer .pageInput.inputError {
	border: solid red 1px;
}

.gridTable .grid_header {
	background: #ccc;
	line-height: 30px;
}

.gridTable .grid_header .grid_header_gridName {
	padding-left: 10px;
}

.gridTable .grid_header .grid_header_totalNumberOfEntities {
	color: #666666;
	padding-left: 5px;
}

.gridTable .grid_paging {
	float: right;
	margin-right: 10px;
}

.gridTable .grid_footer {
	background: #ccc;
	height: 30px;
	line-height: 30px;
	border-top: solid black 1px;
}

.gridTable a.gridLink {
	color: #1C54C4;
	font-weight: bold;
	text-decoration: underline;
}
.gridTable a.gridLink:hover {
	color: #5289f9;
}

.gridTable .lightRow {
	background: #ffffff;
}
.gridTable .darkRow {
	background: #eeeeee;
}
.gridTable .lightRow.ui-state-hover {
	background: #cccccc;
	border-color: #cccccc;
	color: black;
	
}
.gridTable .darkRow.ui-state-hover {
	background: #bbbbbb;
	border-color: #bbbbbb;
	color: black;
}
.gridTable .lightRow.ui-state-highlight,
.gridTable .darkRow.ui-state-highlight {
	background: #efd24a;
	border-color: #efd24a;
}

.gridTable .ui-grid-ico-sort {
	display: none;
}
.gridTable .ui-jqgrid-sortable {
	
}
.gridTable .ui-jqgrid-sortable .sortArrow.ui-jqgrid-sortable {
	width: 16px;
	height: 16px;
	visible: none;
	display: inline-block;
	visibility: hidden;
	background: transparent url('../images/sortArrows.png') no-repeat 0 -16px;
	vertical-align: top;
	margin-left: 5px;
}
.gridTable .sortColumn .ui-jqgrid-sortable .sortArrow.ui-jqgrid-sortable.upArrow {
	visibility: visible;
	background-position: 0 0;
}
.gridTable .sortColumn .ui-jqgrid-sortable .sortArrow.ui-jqgrid-sortable.downArrow {
	visibility: visible;
	background-position: 0 -16px;
}

.gridTable .ui-th-column {
	background: #555555;
	color: white;
}
.gridTable .ui-th-column:hover {
	border-color: #bbbbbb;
}
.gridTable .ui-jqgrid .ui-jqgrid-sortable {
	cursor: default;
}
.gridTable .ui-jqgrid tr.ui-row-ltr td {
	cursor: default;
}
.gridTable .ui-jqgrid .ui-th-column.sortableColumn,
.gridTable .ui-jqgrid .ui-th-column.sortableColumn .ui-jqgrid-sortable {
	cursor: pointer;
}
.gridTable .ui-th-column.sortableColumn:hover {
	background: #888888;
}
.gridTable .ui-th-column.sortColumn {
	background: #a28a41;
	border-color: #bbbbbb;
}
.gridTable .ui-th-column.sortColumn:hover {
	background: #c7aa50;
	border-color: #bbbbbb;
}
.gridTable .ui-search-toolbar {
	border-color: #555555;
}
.gridTable .ui-search-toolbar th:hover {
	background: #555555;
}

