
.gridHeaderCell,
.gridFooterCell {
	background: #ccc;
}

.grid_header .pageInput {
	border: solid black 1px;
}

.grid_header .pageInput.inputError {
	border: solid red 1px;
}

.grid_header {
	background: #ccc;
	line-height: 30px;
}

.grid_paging {
	float: right;
	margin-right: 10px;
}

.grid_footer {
	background: #ccc;
	height: 30px;
	line-height: 30px;
}