.gridTable {
	background: #ccc;
	margin: 0px;
	
}

.gridHeaderCell {
	background: #ccc;
	border-bottom: solid black 1px;
}
.gridFooterCell {
	background: #ccc;
	border-top: solid black 1px;
}

.grid_header .pageInput {
	border: solid black 1px;
}

.grid_header .pageInput.inputError {
	border: solid red 1px;
}

.grid_header {
	background: #ccc;
	line-height: 30px;
}

.grid_paging {
	float: right;
	margin-right: 10px;
}

.grid_footer {
	background: #ccc;
	height: 30px;
	line-height: 30px;
}

a.gridLink {
	color: #1C54C4;
	font-weight: bold;
}
a.gridLink:hover {
	color: #1C94C4;
}

.lightRow {
	background: #ffffff;
}

.darkRow {
	background: #eeeeee;
}