.tree_wrapper {
	border: solid black 1px;
	margin: 10px;
}

.tree_wrapper .tree_header {
	background: #ccc;
	line-height: 30px;
	border-bottom: solid black 1px;
}
.tree_wrapper .tree_header .tree_title {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.tree_wrapper .tree_header .tree_button {
	display: inline-block;
	border: solid black 1px;
	padding: 0px 5px 0px 5px;
	line-height: 18px;
	margin-left: 2px;
	margin-right: 2px;
	color: #A9A9A9;
}
.tree_wrapper .tree_header .tree_button.enabled {
	cursor: pointer;
	color: black;
}

.tree_wrapper .tree_header .tree_button.enabled:hover {
	background: #888888;
} 

.tree_content {
	overflow: auto;
}
