.component_container_window {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.windowContainer {
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

.windowContainer .windowContainerRibbon {
	height: 76px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.windowContainer .windowContainerContentBody {
	position: absolute;
	top: 77px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	background: #9b9b9b;
}

.windowContainer .windowContent {
	margin: auto;
	background: white;
	border: solid #666666 1px;
}

.windowContainer .windowContent .windowHeader {
	background: #ebebeb;
	height: 33px;
	font: bold 13px arial;
	color: #7d7d7d;
	border-bottom: 1px solid #a7a7a7;
	padding-left: 20px;
	line-height: 35px;
}

.windowContainer .windowContent .windowHeader span {
	color: #555;
}

.windowContainer .windowComponents {
	
}
